body {
	background-image: url(../assets/background-compressor.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Lora', serif;
	letter-spacing: .1rem;
}

html {
	height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.customJumbo {
	margin-top: 10rem;
	margin-bottom: 0;
	padding-bottom: 5rem;
	opacity: .8;
	text-align: center;
}

.customNav {
	text-align: right;
	word-spacing: 1.5rem;
}

ul {
	text-align: left;
}

.in1 {
	line-height:300%;
	margin-left:-5rem;
}

.in2 {
	line-height:300%;
}

.in3 {
	line-height:300%;
	margin-left:5em;
}

.navbar {
	font-family: 'Quicksand', sans-serif;
}

.navbar-brand {
	color: DeepSkyBlue !important;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

.profile {
	margin-top: 5rem;
}

.resume {
	line-height: 200%;
}

.companyName {
	color: coral;
	font-variant: small-caps;
	font-weight:bold;
	letter-spacing: .1rem;
}

.about-ditty {
	display: block;
	margin-top: 2.5rem;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
footer {
  padding-top: 1rem;
  color: #fff;
}

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    margin-bottom: 1rem;
    position: relative;
		max-width: 220px;
		margin: 10px;
}

.mix img {
	max-width: 100%;
}

.mix:before {
    content: '';
    display: inline-block;
}

.controls {
	height: 40px;
}

.control {
	margin:1%;
	padding:0;
	float:left;
	display: block;
	padding:5px 10px;
	background-color: none;
	text-decoration:none;
	color:#666;
	cursor: pointer;
	}
